.sign-up-page {
  text-align: center;
  background-image: url('https://media.giphy.com/media/12FPJ1mfrAkvza/giphy.gif');
  background-size: cover;
  position: relative;
  height: 100vh;
  color: #ffafaf;
}

.submit-button {
  margin-top: 1vh;
  background-color: #ffafaf;
}

.createAccount {
  padding-top: 30vh;
  /*background-color: #ffafaf;*/
}

.login {
  margin-top: 10vh;
  /*background-color: #ffafaf;*/
  height: 10vh;
}

.login-button {
  background-color: #afffaf;
}
