<div class="sign-up-page">
  <div class="createAccount">
    <p>Username</p>
    <input #createUser type="text" name="" value="">
    <p><span *ngIf="usernameError">enter a valid username</span></p>

    <p>Password</p>
    <input #createPass type="text" name="" value="">
    <p class="error-message"><span *ngIf="passError">password must be longer than 6 characters</span></p>


    <div class="submit">
      <button class="submit-button" (click)="createAccount(createUser.value, createPass.value)">Create new account</button>
    </div>
    <div class="login">
      <div >
       <button class="login-button" routerLink="/login">Back to login</button>
      </div>
    </div>
  </div>
</div>
