<div class="display card">

  <div class="display-top row">
    {{roomToDisplay?.name}} | {{roomToDisplay?.id}}
  </div>

  <div class="display-mid row">
    <p class="display-text">
      {{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.text}}
    </p>
  </div>

  <div class="display-bot row">
    <div class="col-md-3 player-card">
      <app-player></app-player>
    </div>


    <div class="col-md-6 option-card">
      <div class="options">
        <div *ngIf="move" class="move">
          <ul>
            <div class="row">
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[0]?.option">
                  <li (click)="changeRoom(0)" (click)="changeScene(0)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[0]?.option}}</li>
                </div>
              </div>
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[1]?.option">
                  <li (click)="changeRoom(1)" (click)="changeScene(1)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[1]?.option}}</li>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[2]?.option">
                  <li (click)="changeRoom(2)" (click)="changeScene(2)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[2]?.option}}</li>
                </div>
              </div>
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[3]?.option">
                  <li (click)="changeRoom(3)" (click)="changeScene(3)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.moveOption[3]?.option}}</li>
                </div>
              </div>
            </div>

            <div class="row optionDisplay">
              <li (click)="actionOptions()">Interact</li>
            </div>


          </ul>
        </div>
        <div *ngIf="!move" class="interact">
          <ul>
            <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption">
            <div class="row">
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[0]?.option">
                  <li (click)="changeScene(0)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[0]?.option}}</li>
                </div>
              </div>
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[1]?.option">
                  <li (click)="changeScene(1)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[1]?.option}}</li>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[2]?.option">
                  <li (click)="changeScene(2)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[2]?.option}}</li>
                </div>
              </div>
              <div class="col-md-6 action-button">
                <div *ngIf="roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[3]?.option">
                  <li (click)="changeScene(3)">{{roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption[3]?.option}}</li>
                </div>
              </div>
            </div>




            </div>
            <div class="row">
              <div *ngIf="!roomToDisplay?.scene[sceneToDisplay[0]?.$value]?.actionOption">
                <li>Nothing to do here</li>
              </div>
            </div>
            <div class="row optionDisplay">
              <li (click)="moveOptions()">Move around</li>
            </div>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3 log-card">
      <app-log></app-log>
    </div>
