/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.0);
}

.display {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #666;

  background-image: url('../../assets/imgs/hallway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.display ul {
  padding-left: 0px;
}

.display li {
  list-style: none;
  display: block;
}

.display-text {
  padding: 20px;
}

.display-top {
  padding-top: 5%;
  min-height: 10vh;
  margin: 0 auto;
  color: #FFD52D;
  font-size: 2em;
}

.display-mid {
  padding: 5vh;
  border-style: solid;
  border-color: #FFD52D;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  min-height: 40vh;
  font-size: 1.2em;
  color: #FFD52D;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

.display-bot {
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-style: solid;
  min-height: 20vh;
  background-color: rgba(55, 35, 35, 0.8);
  color: #FFD52D;
}

.optionDisplay {
  font-size: 1.4em;
  margin-top: 10vh;
  padding-left: 12vw;
  padding-right: 10vw;
  text-align: center;
  padding-bottom: 30px;;
}

.action-button {
  border-style: solid;
  border-width: 1px;
}

.option-card {
  margin-top: 2vh;
}
